*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI;
}

body{
    /*background-color: #E5ECF9;*/
    background-color: #fff;
}

.container{
    display: flex;
    height: 600px;
    width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin: auto;
    margin-top: 60px;
}

.info{
    background-image: url(/sistema/imagenes/bg.jpg);
    background-color:  #6c7fa1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 30px 50px;
    width: 40%;
}

.txt-1{
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 15px;
}

.info h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    text-align: left;
}


.info h3{
    color: #e6f51a;
    font-size: 30px;
    margin-bottom: 15px;
    text-align: left;
}

.info hr{
    width: 70px;
    border: 4px solid #ffffff;
    margin-left: 210px;
    margin-bottom: 25px;
}

.imagen{
    margin-top: 20px;
    width: 30%;
}

.txt-2{
    color: #fff;
    font-size: 14px;
    line-height: 1.7em;
}

.form{
    padding: 100px 100px;
    width: 60%;
    text-align: left;
    background-color: #df5353;
}

.form h2{
    font-size: 30px;
    color: #27c5c5;
    margin-bottom: 25px;
}

.form p{
    font-size: 16px;
    color: #91a5ba;
    margin-bottom: 25px;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.box{
    outline: none;
    border-color: #f60909;
    border-width: 0px 0px 0px 5px;
    border-style: solid;
    padding: 8px 15px;
    margin-bottom: 20px;
    background-color: #eaebec;
}

.inputs a{
    color: #1909f6;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 25px;
}

.submit{
    background-color: #000000;
    padding: 15px;
    border: 0;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 15px;
    cursor: pointer;
}

.submit:hover{
    background-color: #6c7fa1;
    padding: 15px;
    border: 0;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 15px;
    cursor: pointer;
}

/* respolsive*/
@media(max-width:990px){
    .container{
        width: 350px;
        height: 600px;
        margin-top: 100px;
    }

    .info{
        display: none;
    }

    .form{
        width: 100%;
        padding: 30px;
    }

    .form h2{
        margin-top: 40px;
    }
}
.boton_postular

{
    background-color: #329e75;
    padding: 15px;
    border: 0;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 15px;
    cursor: pointer;
}

.boton_postular:hover{
    background-color: #0f558f;
    padding: 15px;
    border: 0;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 15px;
    cursor: pointer;
}